<!doctype html>
<html th:lang="${#locale.toLanguageTag}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head">
      <title th:text="${site.title}">Site Title</title>
    </slot>
    <script type="module" src="/assets/js/main.ts"></script>
  </head>
  <body>
    <header th:replace="~{modules/header :: header}"></header>

    <main class="site-main">
      <div class="container">
        <slot />
      </div>
    </main>

    <footer th:replace="~{modules/footer :: footer}"></footer>
  </body>
</html>
