<!doctype html>
<html
  data-color-scheme="light"
  xmlns:th="https://www.thymeleaf.org"
  th:lang="${#locale.toLanguageTag}"
  th:attr="data-scroll-table-label=#{content.scrollTable},data-scroll-embed-label=#{content.scrollEmbed}"
  th:fragment="html (head, content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:if="${head == null}" th:text="${site.title}">Site Title</title>
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>
    <script type="module" src="/assets/js/main.ts"></script>
  </head>
  <body>
    <a class="skip-link" href="#main-content" th:text="#{navigation.skip}">Skip to content</a>
    <header th:replace="~{modules/header :: header}"></header>

    <main id="main-content" class="site-main" tabindex="-1">
      <div class="container">
        <th:block th:replace="${content}" />
      </div>
    </main>

    <footer th:replace="~{modules/footer :: footer}"></footer>
  </body>
</html>
